USE [Acc_Trede]
GO
/****** Object:  UserDefinedTableType [dbo].[PurchaseCartType]    Script Date: 7/8/2026 9:3:20 ******/
-- إنشاء التايب الجديد المطور
CREATE TYPE dbo.PurchaseCartType AS TABLE
(
    Barcode NVARCHAR(50),   -- كود الباركود (الحقيقي أو الوهمي القادم من الـ C#)
    ProductName NVARCHAR(100),  -- اسم الصنف
    Quantity INT,               -- الكمية المشتراة
    CostPrice DECIMAL(18,2)     -- سعر الشراء الحالي
);
GO
