USE [Acc_Trede]
GO
/****** Object:  UserDefinedTableType [dbo].[SalesCartType]    Script Date: 7/8/2026 5:54:20 ******/
CREATE TYPE [dbo].[SalesCartType] AS TABLE(
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL
)
GO
