USE [Acc_Trede]
GO
/****** Object:  View [dbo].[v_SalesProfitReport]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_SalesProfitReport] AS
SELECT 
    I.InvoiceNumber,
    I.InvoiceDate,
    U.Username AS Cashier,
    C.CustomerName,
    P.ProductName,
    D.Quantity,
    D.UnitPrice AS SellingPrice,
    D.CostPriceAtSale AS CostPrice,
    (D.Quantity * D.UnitPrice) AS TotalSales,
    (D.Quantity * D.CostPriceAtSale) AS TotalCost,
    ((D.Quantity * D.UnitPrice) - (D.Quantity * D.CostPriceAtSale)) AS NetProfit -- صافي الربح
FROM SalesInvoiceDetails D
INNER JOIN SalesInvoices I ON D.InvoiceID = I.InvoiceID
INNER JOIN Products P ON D.ProductID = P.ProductID
LEFT JOIN Customers C ON I.CustomerID = C.CustomerID
LEFT JOIN Users U ON I.UserID = U.UserID;
GO
