USE [Acc_Trede]
GO
/****** Object:  View [dbo].[v_CustomerStatement]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_CustomerStatement] AS
-- الفواتير (تزيد مديونية العميل)
SELECT 
    CustomerID,
    InvoiceDate AS ActionDate,
    InvoiceNumber AS Reference,
    N'فاتورة مبيعات' AS ActionType,
    NetAmount AS Debit, -- مدين (نريد منه)
    0.00 AS Credit      -- دائن
FROM SalesInvoices
WHERE CustomerID IS NOT NULL

UNION ALL

-- السندات (تخفض مديونية العميل أو تزيدها حسب السند)
SELECT 
    CustomerID,
    TransactionDate AS ActionDate,
    VoucherNumber AS Reference,
    CASE WHEN TransactionType = 'Receipt' THEN N'سند قبض' ELSE N'سند صرف' END AS ActionType,
    CASE WHEN TransactionType = 'Payment' THEN Amount ELSE 0.00 END AS Debit,
    CASE WHEN TransactionType = 'Receipt' THEN Amount ELSE 0.00 END AS Credit -- دائن (سدد لنا)
FROM FinancialTransactions
WHERE CustomerID IS NOT NULL;
GO
