USE [Acc_Trede]
GO
/****** Object:  View [dbo].[v_BoxMovementReport]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[v_BoxMovementReport] AS
SELECT 
    VoucherNumber,
    TransactionDate,
    TransactionType, -- Receipt (قبض) / Payment (صرف)
    Amount,
    PaymentMethod, -- Cash / Card
    Notes,
    COALESCE(C.CustomerName, S.SupplierName, N'مصاريف عامة') AS DealingParty
FROM FinancialTransactions F
LEFT JOIN Customers C ON F.CustomerID = C.CustomerID
LEFT JOIN Suppliers S ON F.SupplierID = S.SupplierID;
GO
