USE [Acc_Trede]
GO
/****** Object:  Table [dbo].[PurchaseInvoices]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseInvoices](
	[PurchaseInvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierInvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NULL,
	[UserID] [int] NULL,
	[SupplierID] [int] NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
	[NetAmount] [decimal](18, 2) NOT NULL,
	[PaymentType] [nvarchar](20) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[CashAmount] [decimal](18, 2) NOT NULL,
	[CardAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PurchaseInvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT ((0.00)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT ((0.00)) FOR [TaxAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT ((0.00)) FOR [NetAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT ((0.00)) FOR [Discount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT ((0.00)) FOR [CashAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices] ADD  DEFAULT ((0.00)) FOR [CardAmount]
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppliers] ([SupplierID])
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[PurchaseInvoices]  WITH CHECK ADD CHECK  (([PaymentType]='Credit' OR [PaymentType]='Card' OR [PaymentType]='Cash' OR [PaymentType]='Mixed'))
GO
