USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDebtorCustomers]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetDebtorCustomers]
AS
BEGIN
    SET NOCOUNT ON;

    -- جلب العملاء الذين رصيدهم أكبر من صفر (عليهم ديون للمحل)
    SELECT CustomerID, CustomerName, Phone, TaxNumber, CurrentBalance
    FROM Customers
    WHERE CurrentBalance > 0.00
    ORDER BY CurrentBalance DESC; -- ترتيبهم من الأعلى مديونية إلى الأقل
END
GO
