USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteUserSoft]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteUserSoft]
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Users
    SET IsActive = 0
    WHERE UserID = @UserID;
END
GO
