USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSalesInvoice]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSalesInvoice]
    @InvoiceNumber NVARCHAR(50),
    @UserID INT,
    @CustomerID INT,
    @PaymentType NVARCHAR(20), 
    @TotalAmount DECIMAL(18,2),
    @Discount DECIMAL(18,2) = 0,  -- البارامتر الجديد للخصم (افتراضي 0)
    @TaxAmount DECIMAL(18,2),
    @NetAmount DECIMAL(18,2),     -- الصافي القادم من الـ C# (يجب أن يكون شامل التعديل: الإجمالي - الخصم + الضريبة)
    @CashAmount DECIMAL(18,2) = 0, 
    @CardAmount DECIMAL(18,2) = 0, 
    @Cart dbo.SalesCartType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRANSACTION;

    BEGIN TRY
        -- متغير لحساب المتبقي كدين على العميل
        DECLARE @RemainingCredit DECIMAL(18,2) = 0;

        -- ضبط المبالغ والتحقق بناءً على نوع الدفع
        IF @PaymentType = 'Cash'
        BEGIN
            SET @CashAmount = @NetAmount;
            SET @CardAmount = 0;
        END
        ELSE IF @PaymentType = 'Card'
        BEGIN
            SET @CardAmount = @NetAmount;
            SET @CashAmount = 0;
        END
        ELSE IF @PaymentType = 'Credit'
        BEGIN
            SET @CashAmount = 0;
            SET @CardAmount = 0;
            SET @RemainingCredit = @NetAmount;
        END
        ELSE IF @PaymentType = 'Mixed'
        BEGIN
            -- حساب المتبقي الآجل بناءً على الصافي الفعلي بعد الخصم
            SET @RemainingCredit = @NetAmount - (@CashAmount + @CardAmount);
        END

        -- حماية برمجية: إذا كان هناك متبقي آجل، يجب تحديد العميل فوراً
        IF @RemainingCredit > 0 AND @CustomerID IS NULL
        BEGIN
            RAISERROR ('لا يمكن حفظ فاتورة بها متبقٍّ آجل بدون تحديد العميل!', 16, 1);
            RETURN;
        END

        -- حماية برمجية: منع حفظ مبالغ سالبة للخصم أو المدفوعات
        IF @CashAmount < 0 OR @CardAmount < 0 OR @Discount < 0
        BEGIN
            RAISERROR ('خطأ: لا يمكن إدخال مبالغ سالبة!', 16, 1);
            RETURN;
        END

        -- 1. إدخال رأس الفاتورة مع إضافة حقل الخصم الجديد
        INSERT INTO SalesInvoices (InvoiceNumber, UserID, CustomerID, TotalAmount, Discount, TaxAmount, NetAmount, PaymentType, CashAmount, CardAmount)
        VALUES (@InvoiceNumber, @UserID, @CustomerID, @TotalAmount, @Discount, @TaxAmount, @NetAmount, @PaymentType, @CashAmount, @CardAmount);

        DECLARE @NewInvoiceID INT = SCOPE_IDENTITY();

        -- 2. إدخال تفاصيل السلة
        INSERT INTO SalesInvoiceDetails (InvoiceID, ProductID, Quantity, UnitPrice, CostPriceAtSale)
        SELECT @NewInvoiceID, C.ProductID, C.Quantity, C.UnitPrice, P.CostPrice
        FROM @Cart C
        INNER JOIN Products P ON C.ProductID = P.ProductID;

        -- 3. خصم الكميات من المستودع
        UPDATE P
        SET P.StockQuantity = P.StockQuantity - C.Quantity
        FROM Products P
        INNER JOIN @Cart C ON P.ProductID = C.ProductID;

        -- 4. تحديث حساب العميل بالمبلغ المتبقي الآجل فقط
        IF @RemainingCredit > 0 AND @CustomerID IS NOT NULL
        BEGIN
            UPDATE Customers
            SET CurrentBalance = CurrentBalance + @RemainingCredit
            WHERE CustomerID = @CustomerID;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
