USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateUser]    Script Date: 7/9/2026 7:09:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UpdateUser]
    @UserID INT,
    @Username NVARCHAR(50),
    @Permissions INT,
    @FullName NVARCHAR(100),
    @Phone NVARCHAR(20),
    @IsActive BIT,
	@UpdatedBy int
AS
BEGIN
    SET NOCOUNT off;

    -- التحقق من أن اسم المستخدم الجديد لا يخص موظفاً آخر (لمنع التكرار)
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username AND UserID <> @UserID)
    BEGIN
        RAISERROR ('اسم المستخدم الجديد محجوز لموظف آخر!', 16, 1);
        RETURN;
    END

    -- تحديث البيانات
    UPDATE Users
    SET Username = @Username,
        Permissions = @Permissions,
        FullName = @FullName,
        Phone = @Phone,
        IsActive = @IsActive,
		LastUpdate = getdate(),
		UpdatedBy= @UpdatedBy
    WHERE UserID = @UserID;
	
END