USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPurchaseInvoice]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertPurchaseInvoice]
    @SupplierInvoiceNumber NVARCHAR(50),
    @UserID INT,
    @SupplierID INT,
    @PaymentType NVARCHAR(20),     
    @TotalAmount DECIMAL(18,2),
    @Discount DECIMAL(18,2) = 0,    
    @TaxAmount DECIMAL(18,2),
    @NetAmount DECIMAL(18,2),      
    @CashAmount DECIMAL(18,2) = 0,  
    @CardAmount DECIMAL(18,2) = 0,  
    @Cart dbo.PurchaseCartType READONLY -- يقرأ التايب الخاص بك
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- متغير لحساب المتبقي كدين علينا للمورد
        DECLARE @RemainingDebt DECIMAL(18,2) = 0;

        -- ضبط المبالغ والتحقق بناءً على نوع الدفع
        IF @PaymentType = 'Cash'
        BEGIN
            SET @CashAmount = @NetAmount;
            SET @CardAmount = 0;
        END
        ELSE IF @PaymentType = 'Card'
        BEGIN
            SET @CardAmount = @NetAmount;
            SET @CashAmount = 0;
        END
        ELSE IF @PaymentType = 'Credit'
        BEGIN
            SET @CashAmount = 0;
            SET @CardAmount = 0;
            SET @RemainingDebt = @NetAmount;
        END
        ELSE IF @PaymentType = 'Mixed'
        BEGIN
            SET @RemainingDebt = @NetAmount - (@CashAmount + @CardAmount);
        END

        -- حماية برمجية
		-- حماية برمجية: التحقق من أن المبالغ المدفوعة لا تتجاوز صافي الفاتورة
IF (@CashAmount + @CardAmount) > @NetAmount AND @PaymentType = 'Mixed'
BEGIN
    RAISERROR ('خطأ: مجموع المبالغ المدفوعة (كاش + شبكة) أكبر من صافي الفاتورة!', 16, 1);
    RETURN;
END
        IF @RemainingDebt > 0 AND @SupplierID IS NULL
        BEGIN
            RAISERROR ('لا يمكن حفظ فاتورة مشتريات بها متبقٍّ آجل بدون تحديد المورد!', 16, 1);
            RETURN;
        END

        IF @CashAmount < 0 OR @CardAmount < 0 OR @Discount < 0
        BEGIN
            RAISERROR ('خطأ: لا يمكن إدخال مبالغ سالبة!', 16, 1);
            RETURN;
        END

        -- 1. إدخال رأس فاتورة المشتريات
        INSERT INTO PurchaseInvoices (SupplierInvoiceNumber, UserID, SupplierID, TotalAmount, Discount, TaxAmount, NetAmount, PaymentType, CashAmount, CardAmount)
        VALUES (@SupplierInvoiceNumber, @UserID, @SupplierID, @TotalAmount, @Discount, @TaxAmount, @NetAmount, @PaymentType, @CashAmount, @CardAmount);

        DECLARE @NewInvoiceID INT = SCOPE_IDENTITY();

        -- 2. إدخال تفاصيل الفاتورة (قراءة حقل CostPrice من الـ Cart وحفظه في UnitPrice لجدولك)
        INSERT INTO PurchaseInvoiceDetails (InvoiceID, ProductID, Quantity, UnitPrice)
        SELECT @NewInvoiceID, C.ProductID, C.Quantity, C.CostPrice
        FROM @Cart C;

        -- 3. تحديث المخزن: زيادة الكميات وحساب المتوسط المرجح للتكلفة (WAC) في جدول Products
        UPDATE P
        SET 
            P.CostPrice = CASE 
                            WHEN (P.StockQuantity + C.Quantity) = 0 THEN C.CostPrice
                            ELSE ((P.StockQuantity * P.CostPrice) + (C.Quantity * C.CostPrice)) / (P.StockQuantity + C.Quantity)
                          END,
            P.StockQuantity = P.StockQuantity + C.Quantity 
        FROM Products P
        INNER JOIN @Cart C ON P.ProductID = C.ProductID;

        -- 4. تحديث حساب المورد بالدين المتبقي
        IF @RemainingDebt > 0 AND @SupplierID IS NOT NULL
        BEGIN
            UPDATE Suppliers
            SET CurrentBalance = CurrentBalance + @RemainingDebt
            WHERE SupplierID = @SupplierID;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
