USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetLowStockProducts]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetLowStockProducts]
AS
BEGIN
    SET NOCOUNT ON;

    -- جلب المنتجات النواقص
    SELECT ProductID, Barcode, ProductName, StockQuantity, MinStockAlert, CreatedAt, IsActive
    FROM Products
    WHERE StockQuantity <= MinStockAlert
    ORDER BY StockQuantity ASC; -- ترتيبها من الأكثر نقصاً للأقل
END
GO
