USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSupplier]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSupplier]
    @SupplierID INT,
    @SupplierName NVARCHAR(150),
    @CompanyName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @TaxNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- تحديث البيانات بناءً على الرقم التعريفي
    UPDATE Suppliers
    SET SupplierName = @SupplierName,
        CompanyName = @CompanyName,
        Phone = @Phone,
        TaxNumber = @TaxNumber
    WHERE SupplierID = @SupplierID;
END
GO
