USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerID INT,
    @CustomerName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @TaxNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- التحقق من أن رقم الجوال الجديد لا يخص عميلاً آخر
    IF @Phone IS NOT NULL AND EXISTS (SELECT 1 FROM Customers WHERE Phone = @Phone AND CustomerID <> @CustomerID)
    BEGIN
        RAISERROR ('رقم الجوال الجديد مستخدم مع عميل آخر!', 16, 1);
        RETURN;
    END

    -- تحديث البيانات
    UPDATE Customers
    SET CustomerName = @CustomerName,
        Phone = @Phone,
        TaxNumber = @TaxNumber
    WHERE CustomerID = @CustomerID;
END
GO
