USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertPaymentVoucher]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertPaymentVoucher]
    @VoucherNumber NVARCHAR(50),
    @Amount DECIMAL(18,2),
    @PaymentMethod NVARCHAR(20),
    @SupplierID INT = NULL,  
    @CustomerID INT = NULL,  
    @Notes NVARCHAR(250),
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        -- 1. حماية برمجية: منع المبالغ الصفرية أو السالبة
        IF @Amount <= 0
        BEGIN
            RAISERROR ('خطأ: يجب أن يكون مبلغ السند أكبر من صفر!', 16, 1);
            RETURN;
        END

        -- 2. حماية برمجية: منع اختيار عميل ومورد معاً في نفس السند
        IF @CustomerID IS NOT NULL AND @SupplierID IS NOT NULL
        BEGIN
            RAISERROR ('خطأ: لا يمكن ربط السند بعميل ومورد معاً! اختر طرفاً واحداً فقط.', 16, 1);
            RETURN;
        END

        -- 3. تسجيل حركة الصرف المالي في جدول الحركات
        -- (تم توحيد ترتيب الحقول لضمان عدم حدوث خلط بين معرف العميل والمورد)
        INSERT INTO FinancialTransactions (VoucherNumber, TransactionType, Amount, PaymentMethod, CustomerID, SupplierID, Notes, UserID)
        VALUES (@VoucherNumber, 'Payment', @Amount, @PaymentMethod, @CustomerID, @SupplierID, @Notes, @UserID);

        -- 4. معالجة التأثير المالي الذكي على الأرصدة:
        
        -- أ. إذا كان الصرف لمورد (سداد مديونية بضاعة) -> يخفض رصيد المورد (الدين الذي علينا يقل)
        IF @SupplierID IS NOT NULL
        BEGIN
            UPDATE Suppliers
            SET CurrentBalance = CurrentBalance - @Amount
            WHERE SupplierID = @SupplierID;
        END

        -- ب. إذا كان الصرف لعميل (مرتجع نقدي أو تسوية حساب) -> يرفع رصيد العميل (مديونيته لنا تقل)
        ELSE IF @CustomerID IS NOT NULL
        BEGIN
            UPDATE Customers
            SET CurrentBalance = CurrentBalance + @Amount
            WHERE CustomerID = @CustomerID;
        END

        -- ج. إذا كان الاثنين NULL -> تحفظ كمدفوعات ومصاريف عامة للمحل تلقائياً دون تعديل أرصدة العملاء/الموردين

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
