USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSupplier]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteSupplier]
    @SupplierID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- التحقق: هل المورد مرتبط بفواتير مشتريات أو حركات مالية وسندات؟
    IF EXISTS (SELECT 1 FROM PurchaseInvoices WHERE SupplierID = @SupplierID) 
       OR EXISTS (SELECT 1 FROM FinancialTransactions WHERE SupplierID = @SupplierID)
    BEGIN
        -- إذا كان له سجل تاريخي، نغير حالته فقط لـ (غير نشط) لحماية البيانات الحسابية
        UPDATE Suppliers 
        SET IsActive = 0 
        WHERE SupplierID = @SupplierID;
        
        -- نرفع رسالة مخصصة تفيد بـ "الإيقاف المنطقي" ليقرأها السي شارب
        RAISERROR ('تم إيقاف نشاط المورد بنجاح لحفظ سجلاته التاريخية وفواتيره القديمة.', 10, 1);
    END
    ELSE
    BEGIN
        -- إذا كان المورد جديداً تماماً وبدون أي حركات، نحذفه نهائياً لتنظيف القاعدة
        DELETE FROM Suppliers 
        WHERE SupplierID = @SupplierID;
        
        RAISERROR ('تم حذف المورد نهائياً من قاعدة البيانات بنجاح.', 10, 1);
    END
END;
GO
