USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProduct]
    @ProductID INT,
    @Barcode NVARCHAR(50),
    @ProductName NVARCHAR(150),
    @CostPrice DECIMAL(18,2),
    @SalePrice DECIMAL(18,2),
    @StockQuantity INT,
    @MinStockAlert INT
AS
BEGIN
    SET NOCOUNT ON;

    -- التحقق من أن الباركود الجديد لا يخص منتج آخر
    IF @Barcode IS NOT NULL AND EXISTS (SELECT 1 FROM Products WHERE Barcode = @Barcode AND ProductID <> @ProductID)
    BEGIN
        RAISERROR ('الباركود الجديد مستخدم مع منتج آخر!', 16, 1);
        RETURN;
    END

    -- تحديث البيانات
    UPDATE Products
    SET Barcode = @Barcode,
        ProductName = @ProductName,
        CostPrice = @CostPrice,
        SalePrice = @SalePrice,
        StockQuantity = @StockQuantity,
        MinStockAlert = @MinStockAlert
    WHERE ProductID = @ProductID;
END
GO
