USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_ChangeUserPassword]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ChangeUserPassword]
    @UserID INT,
    @NewPasswordHash NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- تحديث حقل كلمة المرور فقط بناءً على رقم المستخدم
    UPDATE Users
    SET PasswordHash = @NewPasswordHash
    WHERE UserID = @UserID;
END
GO
