USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertProduct]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertProduct]
    @Barcode NVARCHAR(50),
    @ProductName NVARCHAR(150),
    @CostPrice DECIMAL(18,2),
    @SalePrice DECIMAL(18,2),
    @StockQuantity INT,
    @MinStockAlert INT
AS
BEGIN
    SET NOCOUNT ON;

    -- التحقق من الباركود إذا لم يكن فارغاً لمنع التكرار
    IF @Barcode IS NOT NULL AND EXISTS (SELECT 1 FROM Products WHERE Barcode = @Barcode)
    BEGIN
        RAISERROR ('هذا الباركود مسجل لمنتج آخر مسبقاً!', 16, 1);
        RETURN;
    END

    -- إدخال المنتج
    INSERT INTO Products (Barcode, ProductName, CostPrice, SalePrice, StockQuantity, MinStockAlert)
    VALUES (@Barcode, @ProductName, @CostPrice, @SalePrice, @StockQuantity, @MinStockAlert);
END
GO
