USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_RegisterUser]    Script Date: 7/9/2026 6:10:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_RegisterUser]
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Permissions INT, -- استقبال مجموع الصلاحيات كرقم ثنائي
    @FullName NVARCHAR(100),
    @Phone NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    -- التحقق من عدم تكرار اسم المستخدم
    IF EXISTS (SELECT 1 FROM Users WHERE Username = @Username)
    BEGIN
        RAISERROR ('اسم المستخدم مسجل مسبقاً في النظام!', 16, 1);
        RETURN;
    END

    -- إدخال البيانات
    INSERT INTO Users (Username, PasswordHash, Permissions, FullName, Phone)
    VALUES (@Username, @PasswordHash, @Permissions, @FullName, @Phone);
	select SCOPE_IDENTITY();
END