USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCreditorSuppliers]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetCreditorSuppliers]
AS
BEGIN
    SET NOCOUNT ON;

    -- جلب الموردين الذين رصيدهم أكبر من صفر (لهم أموال مستحقة علينا)
    SELECT SupplierID, SupplierName, CompanyName, Phone, TaxNumber, CurrentBalance
    FROM Suppliers
    WHERE CurrentBalance > 0.00
    ORDER BY CurrentBalance DESC;
END
GO
