USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSupplier]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertSupplier]
    @SupplierName NVARCHAR(150),
    @CompanyName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @TaxNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- إدخال المورد برصيد افتتاحي صفر
    INSERT INTO Suppliers (SupplierName, CompanyName, Phone, TaxNumber, CurrentBalance)
    VALUES (@SupplierName, @CompanyName, @Phone, @TaxNumber, 0.00);
END
GO
