USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCustomer]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCustomer]
    @CustomerName NVARCHAR(150),
    @Phone NVARCHAR(20),
    @TaxNumber NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- التحقق من عدم تكرار رقم الجوال إذا تم إدخاله
    IF @Phone IS NOT NULL AND EXISTS (SELECT 1 FROM Customers WHERE Phone = @Phone)
    BEGIN
        RAISERROR ('رقم الجوال هذا مسجل لعميل آخر مسبقاً!', 16, 1);
        RETURN;
    END

    -- إدخال العميل برصيد افتتاحي يساوي صفر
    INSERT INTO Customers (CustomerName, Phone, TaxNumber, CurrentBalance)
    VALUES (@CustomerName, @Phone, @TaxNumber, 0.00);
END
GO
