USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCustomer]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteCustomer]
    @CustomerID INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- إذا كان للعميل فواتير أو سندات، نكتفي بالإيقاف المنطقي لحماية الحسابات
    IF EXISTS (SELECT 1 FROM SalesInvoices WHERE CustomerID = @CustomerID) 
       OR EXISTS (SELECT 1 FROM FinancialTransactions WHERE CustomerID = @CustomerID)
    BEGIN
        UPDATE Customers SET IsActive = 0 WHERE CustomerID = @CustomerID;
        PRINT 'تم إيقاف العميل بنجاح لحفظ السجلات التاريخية.';
    END
    ELSE
    BEGIN
        -- إذا كان عميلاً جديداً بدون أي حركات، نحذفه نهائياً لتنظيف القاعدة
        DELETE FROM Customers WHERE CustomerID = @CustomerID;
        PRINT 'تم حذف العميل نهائياً من قاعدة البيانات.';
    END
END;
GO
