USE [Acc_Trede]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertReceiptVoucher]    Script Date: 7/8/2026 5:54:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertReceiptVoucher]
    @VoucherNumber NVARCHAR(50),
    @Amount DECIMAL(18,2),
    @PaymentMethod NVARCHAR(20),
    @CustomerID INT = NULL, -- جعلناه اختيارياً بقيمة افتراضية NULL
    @SupplierID INT = NULL, -- إضافة بارامتر المورد واجعله اختيارياً
    @Notes NVARCHAR(250),
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        -- 1. حماية برمجية: يجب تحديد طرف واحد على الأقل (عميل أو مورد)
        IF @CustomerID IS NULL AND @SupplierID IS NULL
        BEGIN
            RAISERROR ('خطأ: يجب تحديد الطرف (العميل أو المورد) لإصدار سند القبض!', 16, 1);
            RETURN;
        END

        -- 2. حماية برمجية: منع اختيار عميل ومورد معاً في نفس السند
        IF @CustomerID IS NOT NULL AND @SupplierID IS NOT NULL
        BEGIN
            RAISERROR ('خطأ: لا يمكن ربط السند بعميل ومورد معاً! اختر طرفاً واحداً فقط.', 16, 1);
            RETURN;
        END

        -- 3. تسجيل حركة القبض المالي في جدول الحركات
        INSERT INTO FinancialTransactions (VoucherNumber, TransactionType, Amount, PaymentMethod, CustomerID, SupplierID, Notes, UserID)
        VALUES (@VoucherNumber, 'Receipt', @Amount, @PaymentMethod, @CustomerID, @SupplierID, @Notes, @UserID);

        -- 4. المعالجة المحاسبية الذكية للأرصدة:
        
        -- أ. إذا كان القبض من عميل (سداد مديونية) -> نخفض مديونية العميل
        IF @CustomerID IS NOT NULL
        BEGIN
            UPDATE Customers
            SET CurrentBalance = CurrentBalance - @Amount
            WHERE CustomerID = @CustomerID;
        END

        -- ب. إذا كان القبض من مورد (مرتجع مالي من المورد) -> نعدل حسابه
        -- (محاسبياً: قبض كاش من مورد يخفض من دائنية المورد لنا أو يزيد من مديونيته حسب اتجاه الحساب)
        ELSE IF @SupplierID IS NOT NULL
        BEGIN
            UPDATE Suppliers
            SET CurrentBalance = CurrentBalance - @Amount
            WHERE SupplierID = @SupplierID;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR(@ErrMsg, 16, 1);
    END CATCH
END;
GO
